.App {
   text-align: center;
   display: flex;
   justify-content: center;
}

label {
   font-weight: bold;
   display: flex;
   margin-bottom: 5px;
}

input[type="text"] input[type="email"] in {
   display: block;
   width: 400px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
}
.form {
   height: 530px;
   margin: 0px;
   padding: 15px;
   justify-content: center;
}
.form-field {
   background-color: #ffffff;
   border-radius: 10px;
   height: 500px;
   padding: 20px;
   display: flex;
   flex-direction: column;
}
.form-wrapper {
   padding-top: 100px;
}
.form-header {
   margin-top: 10px;
   margin-bottom: 20px;
   color: #2f2f2f !important;
}
.formdata {
   height: 530px;
   margin: 0px;
   padding: 15px;
}
.wrapper {
   background-color: #ecf0f3;
   margin: 0px;
}
